# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*tfplan
*destroyplan
*.tfplan

# Variable files
*.tfvars
*.tfvars.json

# Sensitive/override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

